.header {
  display: flex;
}

h3{
  text-align: center;
}

.names {
  float: right;
  padding: 20px;
}

.logo {
  padding: 20px;
}

.projects {
  padding: 20px;
}

.title2 {
  color: #7d97ad;
  font-family: "Josefin Sans", sans-serif;
  font-size: 22px;
  letter-spacing: 5px;
}

h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 32px;
}

h2 {
  font-size: 18px;
}

figure {
  margin: 50px;
}

.cd-md-4 {
  padding-right: 20px;
}

.bannerImage, .cd-md-4 {
  max-width: 100%;
  height: auto;
  width: auto;
}

.bannerImage {
  width: 1480px; 
  height: 800px
}
/* container styling */

.container{
        width: 100%; 
        max-width: 1200px;      
    }

    /*-- our cleafix hack -- */ 
    .row:before, 
    .row:after {
        content:"";
          display: table ;
        clear:both;
    }

.row{
  display: flex;
}

    [class*='col-'] {
       /* float: left; */
        min-height: 1px; 
        width: 30%; 
        /*-- our gutter -- */
        padding: 12px; 
         background-color: #FFDCDC;
    }

    .col-1{ width: 30%; }
    .col-2{ width: 30%; }
    .col-3{ width: 30%;    }
    .col-4{ width: 30%; }
    .col-5{ width: 30%; }
    .col-6{ width: 30%;   }
/*
    .outline, .outline *{
        outline: 1px solid #F6A1A1; 
    }
*/
    /*-- some extra column content styling --*/
    [class*='col-'] > p {
     /*background-color: #FFC2C2;*/
     padding: 0;
     margin: 0;
     text-align: center; 
     color: black; 
    }

    @media only screen and (max-width: 550px) {
      .col-1, .col-2, .col-3 { 
          margin: 1% 0 1% 0;
          width: 100%;
          }
    }